.Profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  10px  ; 
    background-color: rgb(117, 117, 255);
}

.imge {
    display: flex;
    column-gap: 10px;
}

.image {
    width: 100px;
    height: 100px;
}



.list {
    display: flex;
    list-style-type: none;
    column-gap: 20px;
    font-size: 25px;
    font-weight: 800;
}

.listitem:hover {
    color: rgb(0, 84, 144);
    transition: 0.5s;
    cursor: pointer;
}
