.Elon {
    padding: 10px;
}

.Data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.money {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.live {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name:hover {
    color: blue;
    transition: 0.5s;
}

.text:hover {
    color: rgb(106, 106, 245);
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s;
}